{% set current = user.roi_calculator_input_visitors * user.roi_calculator_input_lead_to_close * user.roi_calculator_input_conversion * user.roi_calculator_input_asp / 10000 |int %}
{% set increase_factor =  1.5 %}
{% set increased_conversion = user.roi_calculator_input_conversion + increase_factor %}
{% set result = user.roi_calculator_input_visitors * user.roi_calculator_input_lead_to_close * increased_conversion  * user.roi_calculator_input_asp / 10000 |round|int%}
{%- capture plan -%}{% if result <= 1000 %}Standard{% elif result <= 10000 %}Pro {% elif result <= 50000 %}Company{% elif result  >= 50000 %}Enterprise{% endif%}{% endcapture %}
{% capture cost %}
{% if plan == "Standard" %} 50 {% elif plan == "Pro" %} 500 {% elif plan == "Company" %} 1000 {% elif plan == "Enterprise" %} 5000 {% endif%}
{% endcapture %}
{% set cost = cost * 1 %}
{% set delta  = result - current - cost %}
{%set current_int = current|int %}
{%set result_int = result|int %}
{%set delta_int = delta|int %}
{%set current_int = current|int %}
{%set current_int_1000 = current_int / 1000  %}
{%set current_mod_1000 = current_int % 1000 %}
{%set current_int_10000 = current_int / 10000  %}
{%set current_mod_10000 = current_int % 10000 %}
{%set result_int = result|int %}
{%set result_int_1000 = result_int / 1000  %}
{%set result_mod_1000 = result % 1000 %}
{%set delta_int_10000 = delta_int / 10000  %}
{%set delta_mod_10000 = delta % 10000 %}
{%set delta_int = delta|int %}
{%set delta_int_1000 = delta_int / 1000  %}
{%set delta_mod_1000 = delta_int % 1000 %}
{%set delta_int_10000 = delta_int / 10000  %}
{%set delta_mod_10000 = delta_int % 10000 %}
{% capture delta_int2 %}{% if delta_int >= 1000000 %}{% elif delta_int >= 100000 %}{{ delta_int_10000 |int }},{{delta_mod_10000|int}}{% elif delta_int >= 10000 %}{{ delta_int_1000 |int }},{{delta_mod_1000|int}}{% elif delta_int >= 1000 %}{{ delta_int_1000 |int }},{{delta_mod_1000|int}}{% else %}{{delta_int}}{% endcapture %}
{% capture current_int2 %}{% if current_int >= 1000000 %}{% elif current_int >= 100000 %}{{ current_int_10000 |int }},{{current_mod_10000|int}}{% elif current_int >= 10000 %}{{ current_int_1000 |int }},{{current_mod_1000|int}}{% elif current_int >= 1000 %}{{ current_int_1000 |int }},{{current_mod_1000|int}}{% else %}{{current_int}}{% endcapture %}
{% capture result_int2 %}{% if result_int >= 1000000 %}{% elif result_int >= 100000 %}{{ result_int_10000 |int }},{{result_mod_10000|int}}{% elif result_int >= 10000 %}{{ result_int_1000 |int }},{{result_mod_1000|int}}{% elif result_int >= 1000 %}{{ result_int_1000 |int }},{{result_mod_1000|int}}{% else %}{{result_int}}{% endcapture %}People using Drift see an average increase of {{increase_factor}}% in their visitor to lead conversion rate.
