OLD SHIT
body {
  background: #FFFFFF !important;
  color: #571e1a !important;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #571e1a;
}

ul {
  margin: 0;
}

.bg-bbq {
  background-color: #FFFFFF !important;
}

.bg-gold {
  background-color: #FFFFFF !important;
}

.list-group-item-light {
background-color: #FFFFFF !important;
color: #571e1a !important;
text-align: right;
}

.site-header .navbar-nav .nav-link {
  color: #571e1a !important;
}

.site-header .navbar-nav .nav-link:hover {
  color: #908E68;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 1000;
}

.content-section {
  background: #908E68;
  margin-bottom: 20px;
}

.article-title {
  color: #571e1a;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
